<li class="problem" data-level="<%= problem.difficultyLevel %>">
  <a href="/problems/<%= problem._id %>">
    <div class="title"><%= problem.title %></div>
  </a>
  <div>Level <%= problem.difficultyLevel %></div>
  <div>정답자 수: <%= problem.completedUsers %>명</div>
</li>
